/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
img {
  display: block;
  max-width: 100%;
}
.form {
  text-align: center;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  list-style-type: none;
  padding: 10px 0;
  margin: 0 auto;
}

.gallery-link {
  display: block;
  width: 300px; /* Розміри, які ви хочете використовувати */
  height: 200px; /* Розміри, які ви хочете використовувати */

}
.gallery-image {
  width: 100%;
  height: 80%;
  object-fit: cover;   
}
.list {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}
.list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.btn-load-more {
  margin-left: 50%;
}






